{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
  ],
  "parserOptions": {
    "sourceType" : "module"
  },
  "rules": {
    "no-control-regex"                   : 0,
    "no-template-curly-in-string"        : 2,
    "no-unsafe-negation"                 : 2,
    "array-callback-return"              : 2,
    "default-case"                       : 2,
    "dot-notation"                       : 2,
    "eqeqeq"                             : 2,
    "guard-for-in"                       : 2,
    "no-alert"                           : 2,
    "no-else-return"                     : 2,
    "no-empty-function"                  : 2,
    "no-eval"                            : 2,
    "no-extend-native"                   : 2,
    "no-extra-bind"                      : 2,
    "no-floating-decimal"                : 2,
    "no-global-assign"                   : 2,
    "no-implicit-globals"                : 2,
    "no-implied-eval"                    : 2,
    "no-lone-blocks"                     : 2,
    "no-loop-func"                       : 2,
    "no-new-func"                        : 2,
    "no-new-wrappers"                    : 2,
    "no-octal-escape"                    : 2,
    "no-self-compare"                    : 2,
    "no-throw-literal"                   : 2,
    "no-useless-concat"                  : 2,
    "no-undefined"                       : 2,

    "no-unused-vars"                     : [2, { "args": "none" }],
    "block-spacing"                      : 2,
    "brace-style"                        : [2, "stroustrup", { "allowSingleLine": true }],
    "comma-dangle"                       : 2,
    "comma-spacing"                      : 2,
    "comma-style"                        : 2,
    "computed-property-spacing"          : 2,
    "consistent-this"                    : 2,
    "eol-last"                           : 2,
    "indent"                             : [2, 4, {"SwitchCase": 1}],
    "jsx-quotes"                         : 2,
    "keyword-spacing"                    : 2,
    "linebreak-style"                    : 2,
    "lines-around-comment"               : [2, { "beforeBlockComment": true, "beforeLineComment": true, "allowBlockStart": true, "allowObjectStart": true, "allowArrayStart": true }],
    "no-lonely-if"                       : 2,
    "no-multiple-empty-lines"            : [2, { "max": 2, "maxEOF": 1, "maxBOF": 0 }],
    "no-negated-condition"               : 2,
    "no-spaced-func"                     : 2,
    "no-tabs"                            : 2,
    "no-trailing-spaces"                 : 2,
    "no-unneeded-ternary"                : 2,
    "no-whitespace-before-property"      : 2,
    "quotes"                             : [2, "single", { "allowTemplateLiterals": true }],
    "semi-spacing"                       : 2,
    "semi"                               : [2, "never"],
    "space-before-blocks"                : 2,
    "space-before-function-paren"        : [2, "never"],
    "space-in-parens"                    : 2,
    "space-infix-ops"                    : 2,
    "space-unary-ops"                    : 2,
    "spaced-comment"                     : 2,
    "no-useless-constructor"             : 2,
    "no-useless-rename"                  : 2,
    "no-var"                             : 2,
    "prefer-const"                       : 2,
    "prefer-spread"                      : 2,
    "rest-spread-spacing"                : 2,
    "prefer-template"                    : 2,
    "template-curly-spacing"             : 2,

    "import/no-named-as-default"         : 2,
    "import/no-extraneous-dependencies"  : 2,
    "import/no-mutable-exports"          : 2,
    "import/imports-first"               : 2,
    "import/no-duplicates"               : 2,
    "import/order"                       : 2,
    "import/newline-after-import"        : 2,
    "import/prefer-default-export"       : 2
  },
  "env": {
    "jquery"  : true,
    "browser" : true,
    "node"    : true
  },
  "globals": {
    "_"                : false,
    "$"                : false,
    "angular"          : false,
    "componentHandler" : false,
    "Drop"             : false,
    "expect"           : false,
    "google"           : false,
    "sinon"            : false
  }
}
