{
    "rules": {
        "camelcase"                : 2,
        "comma-dangle"             : [2, "never"],
        "curly"                    : 2,
        "dot-notation"             : [2, {"allowKeywords": true}],
        "eol-last"                 : 2,
        "eqeqeq"                   : 2,
        "handle-callback-err"      : 0,
        "indent"                   : [2, "tab", {"SwitchCase": 1}],
        "key-spacing"              : 0,
        "linebreak-style"          : 2,
        "no-alert"                 : 2,
        "no-cond-assign"           : [2, "always"],
        "no-console"               : 2,
        "no-constant-condition"    : 2,
        "no-control-regex"         : 2,
        "no-debugger"              : 2,
        "no-dupe-args"             : 2,
        "no-dupe-keys"             : 2,
        "no-duplicate-case"        : 2,
        "no-empty"                 : 2,
        "no-empty-character-class" : 2,
        "no-eval"                  : 2,
        "no-ex-assign"             : 2,
        "no-extra-bind"            : 2,
        "no-extra-boolean-cast"    : 2,
        "no-extra-parens"          : [2, "functions"],
        "no-extra-semi"            : 2,
        "no-floating-decimal"      : 2,
        "no-func-assign"           : 2,
        "no-implied-eval"          : 2,
        "no-inner-declarations"    : 2,
        "no-invalid-regexp"        : 2,
        "no-irregular-whitespace"  : 2,
        "no-lone-blocks"           : 2,
        "no-lonely-if"             : 2,
        "no-loop-func"             : 2,
        "no-mixed-spaces-and-tabs" : 2,
        "no-multi-spaces"          : 0,
        "no-negated-in-lhs"        : 2,
        "no-nested-ternary"        : 2,
        "no-new-func"              : 2,
        "no-obj-calls"             : 2,
        "no-octal"                 : 2,
        "no-redeclare"             : 2,
        "no-regex-spaces"          : 2,
        "no-return-assign"         : 2,
        "no-self-compare"          : 2,
        "no-shadow"                : 2,
        "no-sparse-arrays"         : 2,
        "no-trailing-spaces"       : 2,
        "no-undef"                 : 2,
        "no-undef-init"            : 2,
        "no-undefined"             : 2,
        "no-underscore-dangle"     : 0,
        "no-unexpected-multiline"  : 2,
        "no-unneeded-ternary"      : 2,
        "no-unreachable"           : 2,
        "no-unused-expressions"    : 0,
        "no-unused-vars"           : 0,
        "no-use-before-define"     : [2, "nofunc"],
        "quotes"                   : [2, "single"],
        "semi"                     : [2, "always"],
        "space-after-keywords"     : 0,
        "use-isnan"                : 2,
        "valid-typeof"             : 2
    },
    "env": {
        "jquery"  : true,
        "browser" : true,
        "node"    : true,
        "mocha"   : true
    },
    "globals": {
        "_"                : false,
        "$"                : false,
        "angular"          : false,
        "componentHandler" : false,
        "Drop"             : false,
        "expect"           : false,
        "google"           : false,
        "sinon"            : false
    }
}
