<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=yes"> <!-- disable auto telephone linking in iOS -->
    <title>Test</title>
</head>
<body>
    <table>
        <tr>
            <td align="center">
                <p>This is a {{what}}. Some "quoted text."</p>
                <p class="link-paragraph">{{link}}</p>
                <p>{{nested.stuff}}</p>
                <p><img src="kitten.jpg" /></p>
                <p>© Awesomepants McChunkmuffins</p>
            </td>
            <td class="spacer"></td>
        </tr>
    </table>
</body>
</html>
